{% extends "base.html" %}
{% block title %}Acceder{% endblock %}
{% block content%}
<form method="POST">
    <h3 align="center">Acceder</h3>
    <div class="form-group">
        <label for="email">Direccion de email</label>
        <input
                type="text"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
        />
        <label for="password">Contrasena</label>
        <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Enter password"
        />
        <br/>
        <div align="center">
            <button class="btn btn-primary" type="submit">Acceder</button>
        </div>
    </div>
</form>
{% endblock %}